@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    overflow-y: hidden;
    background-color: #f0f0f0;
}

code {
    font-family: 'Fira Code', monospace;
}

/*---------------- SIDEBAR ----------------*/

.Sidebar {
    display: block;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Sidebar ul {
    padding: 20px;
    list-style: none;
    box-shadow: 0px 0px 10px #000;
    justify-content: center;
    border-radius: 10px;
}

.Sidebar ul li {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    margin-bottom: 15px;
}

.Sidebar ul li a {
    padding: 5px;
    text-decoration: none;
    color: #18191c;
    transition: all .3s;
}

.Sidebar ul li a:hover {
    font-size: 21px;
    color: hsl(210, 100%, 80%);
}

/*---------------- MAIN ----------------*/


