@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --background: #f0f0f0;
    --accent: #e0e0e0;
    --text-primary: #18191c;
    --text-secondary: hsl(340, 100%, 50%);
}

[data-theme='dark'] {
    --background: #202020;
    --accent: #1f1f1f;
    --text-primary: #f0f0f0;
    --text-secondary: hsl(340, 100%, 65%);
}


/*--------------------------------*/


.App {
    height: 400vh;
    background-color: var(--background);
}


* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-primary);
    font-family: 'Fira Code', monospace;
    transition: all .3s;
}


/*--------------------------------*/


.Navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid var(--accent);
    transition: all .3s;
}

.Navbar h1 {
    cursor: default;
    font-size: 150%;
    color: var(--text-secondary);
}

.Navbar .Links {
    margin-left: auto;
}

.Navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    transition: all .3s;
}

.Navbar a:hover {
    color: var(--text-secondary);
}


/*--------------------------------*/


.Main {
    max-width: 100%;
    display: block;
    position: absolute;
    padding: 0;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

.Main h3 {
    display: block;
    text-align: center;
    border-bottom: 2px solid var(--accent);
}

.Main h3 span {
    cursor: default;
    color: var(--text-primary);
    font-size: 40px;
    transition: all .3s;
}

.Main h3 span:hover {
    color: var(--text-secondary);
}

.Main h3 #K {
    color: var(--text-secondary);
    transition: all .3s;
}

.Main h4 {
    text-align: center;
}

.Main h4 span {
    cursor: default;
    color: var(--text-primary);
    font-size: 30px;
    transition: all .3s;
}

.Main h4 span:hover {
    color: var(--text-secondary);
}


/*--------------------------------*/


#tools {
    position: flex;
    margin-top: 50%;
}

.Tools {
    display: flex;
}

.Tools h3 {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid var(--accent);
    transition: all .3s;
}

.Tools h3 span {
    cursor: default;
    transition: all .3s;
}

.Tools h3 span:hover {
    color: var(--text-secondary);
}

.Tools .ToolLinksOne {
    margin-left: auto;
}

.Tools .ToolLinksTwo {
    margin-left: auto;
}

.Tools .ToolLinksThree {
    margin-left: auto;
}

.ToolLinksOne {
    display: flex;
    position: absolute;
    top: 138%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
}

.ToolLinksTwo {
    display: flex;
    position: absolute;
    top: 149%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
}

.ToolLinksThree {
    display: flex;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
}

.Tools ul {
    list-style-type: none;
    overflow: hidden;
}

.Tools ul {
    list-style-type: none;
    overflow: hidden;
}

.Tools ul {
    list-style-type: none;
    overflow: hidden;
}

.Tools ul li {
    float: left;
}

.Tools ul li a {
    transition: all .3s;
}

.Tools ul li a:hover {
    background-color: var(--text-primary);
    border: 0px solid var(--background);
}


/*--------------------------------*/


#projects {
    position: flex;
    margin-top: 50%;
}

.Projects h3 {
    position: absolute;
    top: 220%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid var(--accent);
    transition: all .3s;
}

.Projects h3 span {
    cursor: default;
    transition: all .3s;
}

.Projects h3 span:hover {
    color: var(--text-secondary);
}

.Projects ul {
    list-style-type: none;
}

.Projects ul li {
    display: block;
    position: absolute;
    padding: 30px;
    top: 245%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--accent);
    border-radius: 20px;
    text-align: center;
}

.Projects ul li img {
    border-radius: 20px;
}


/*--------------------------------*/


.ModeToggle {
    position: fixed;
    top: 99%;
    transform: translateY(-99%);
    left: .5%;
}

.ToggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: none;
}

.ToggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--text-primary);
    border: 0px solid var(--text-primary);
    border-radius: 20px;
    transition: all .3s;
}

.Slider:before {
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    left: 4px;
    top: 4px;
    border-radius: 20px;
    background-color: var(--background);
    transition: all .3s;
}

.Slider:hover {
    background-color: var(--text-secondary);
}

.ToggleSwitch input:checked + .Slider:before {
    transform: translateX(26px);
}


/*--------------------------------*/


.ToTop {
    position: fixed;
    top: 2%;
    left: .5%;
}

.ToTop a button {
    cursor: pointer;
    font-size: 15px;
    background-color: var(--text-primary);
    color: var(--background);
    text-align: center;
    text-decoration: none;
    border: 0px solid var(--background);
    border-radius: 15px;
    padding: 10px;
    transition: all .3s;
}

.ToTop a button:hover {
    background-color: var(--text-secondary)
}