@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #18191c;
    overflow-y: hidden;
    font-family: 'Fira Code', monospace;
}

/*---------------- NAVBAR ----------------*/

.Navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
}
.Navbar h1 {
    font-size: 150%;
    color: hsl(340, 100%, 50%);
}
.Navbar .Links {
    margin-left: auto;
}
.Navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.Navbar a:hover {
    color: hsl(340, 100%, 50%);
}

/*---------------- MAIN ----------------*/



/*---------------- MODE TOGGLE ----------------*/

.ModeToggle {
    position: absolute;
    top: 1%;
    left: .5%;
}

.ToggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
}

.ToggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #18191c;
    transition: all .5s;
}

.Slider:before {
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    left: 4px;
    top: 4px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: all .5s;
}

.ToggleSwitch input:checked + .Slider:before {
    transform: translateX(26px);
    background-color: #18191c;
}

.ToggleSwitch input:checked + .Slider {
    background-color: #f0f0f0;
}